input[type="file"] {
    display: none;
  }

.file-container {
    height: 100%;
  }

.custom-file-upload {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.fa-plus {
    font-size: 3rem;
}

.uploaded-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: auto;
}