.custom-navbar-toggler.navbar-toggler {
    border: none; /* Remove the border */
}

.custom-navbar-toggler.navbar-toggler:focus {
    box-shadow: none;
}

.my-brand {
    font-family: "Poetsen One";
}